<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Estoque - Cadastrar Produto</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}">
</head>
<body>
    <div id="container">
            <div id="head">
                <a href="index.html">
                </a>
            </div>

            <div id= "menu">
                <ul>
                    <li><a href="{{ url_for('cadastrar')}}">Cadastrar Produtos</a></li>
                    <li><a href="{{ url_for('comprar')}}">Comprar Produtos</a></li>
                     <li><a href="{{ url_for('estoque')}}">Estoque de Produtos</a></li>
                    <li><a href="{{ url_for('historico')}}">Histórico de Compras</a></li>
                </ul>
            </div>
            <div id="corpo">
                    <h1>Cadastrar Produto</h1>
                    <hr>

                <form action="{{ url_for('cadastrar')}}" method="POST">
                <table>
                    <tr>
                        <td>Nome</td>
                        <td><input type="text" name="nome"></td>
                    </tr>
                </table><br>
                <input type="submit" value="Cadastrar">
                </form>

                {% if erro %}
                    <h1>O produto já foi cadastrado</h1>
                {% endif %}
            </div>
    </div>
</body>
</html>